<!DOCTYPE html>
<html lang="en" ng-app="AdminApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <link rel="stylesheet" href="/css/admin.css">

  <title></title>
</head>

<body ng-controller="MainController as ctrl">

  <div id="scheduleView" ng-if="ctrl.scheduleView">
    <div>
      <button ng-click="ctrl.scheduleView = !ctrl.scheduleView">Manage Employees</button>
    </div>

    <div id="container">
      Current Week

      <select ng-model="ctrl.selectedPeriod">

        <option ng-repeat="week in ctrl.payPeriods" value="{{week.id}}"> {{ week.start_date }} </option>

      </select>

      <button ng-click="ctrl.loadWeek()">Load Week</button>
      <button ng-click="ctrl.createWeek()">Create Next Week Schedule</button>


      <div id="daySelector" ng-if="ctrl.currentPeriod">
        View:
        <button ng-click="ctrl.loadDay(0)">Sunday</button>
        <button ng-click="ctrl.loadDay(1)">Monday</button>
        <button ng-click="ctrl.loadDay(2)">Tuesday</button>
        <button ng-click="ctrl.loadDay(3)">Wednesday</button>
        <button ng-click="ctrl.loadDay(4)">Thursday</button>
        <button ng-click="ctrl.loadDay(5)">Friday</button>
        <button ng-click="ctrl.loadDay(6)">Saturday</button>
      </div>


      <div id="employeeSchedules">

        <table ng-if="ctrl.currentDay != null">
          <caption>
            <h3 ng-if="ctrl.dayHeader">{{ ctrl.dayHeader }}</h3>
          </caption>
          <tr>
            <th id="nameCol">Name</th>
            <th class="timeCol">Start Time</th>
            <th class="timeCol">End Time</th>
            <th id="optionCol">Options</th>
          </tr>

          <tr ng-repeat="lineItem in ctrl.daySchedules">
            <td>{{ lineItem.employee.last_name }}, {{ lineItem.employee.first_name}}</td>



            <td ng-if="lineItem.hasEntry || lineItem.newShift">
              <input type="time" ng-model="lineItem.start_time" step="900">
            </td>
            <td ng-if="lineItem.hasEntry || lineItem.newShift">
              <input type="time" ng-model="lineItem.end_time" step="900">
            </td>
            <td ng-if="lineItem.hasEntry">
              <button ng-click="ctrl.updateEntry(lineItem)">Save Changes</button>
              <button ng-click="ctrl.deleteEntry(lineItem)">Delete Shift</button>
            </td>

            <td ng-if="!lineItem.hasEntry && !lineItem.newShift">
              OFF
            </td>
            <td ng-if="!lineItem.hasEntry && !lineItem.newShift">
              OFF
            </td>


            <td ng-if="!lineItem.hasEntry && !lineItem.newShift">
              <button ng-click="ctrl.setupNew(lineItem)">Add Shift</button>
            </td>

            <td ng-if="!lineItem.hasEntry && lineItem.newShift">
              <button ng-click="ctrl.newShift(lineItem)">Save Shift</button>
              <button ng-click="lineItem.newShift = false">Cancel</button>
            </td>






          </tr>
        </table>



      </div>

    </div>
  </div>

  <div id="employeeView" ng-if="!ctrl.scheduleView">

    <div id="nav">
      <button ng-click="ctrl.scheduleView = !ctrl.scheduleView">Manage Schedule</button>
    </div>

    <div id="container">
      <form>
        <input type="text" ng-model="ctrl.newUser.first_name" required>
        <input type="text" ng-model="ctrl.newUser.last_name" required>
        <button ng-click="ctrl.createEmployee()">Add New Employee</button>

      </form>

      <div id="employeeList" ng-repeat="employee in ctrl.employees">
        {{ employee.first_name }} {{ employee.last_name }}
        <button ng-click="ctrl.deleteEmployee(employee)">Delete</button>
      </div>
    </div>
  </div>

</body>

</html>