<!DOCTYPE html>
<html lang="en" ng-app="AdminApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <title></title>
</head>

<body ng-controller="MainController as ctrl">


  <div id="scheduleView" ng-if="ctrl.scheduleView">
    Current Week

    <select>

      <option ng-repeat="week in ctrl.payPeriods"> {{ week.start_date }} </option>

    </select>

    <button ng-click="ctrl.loadWeek()">Load Week</button>
    <button ng-click="ctrl.createWeek()">Create Next Week Schedule</button>


    <div id="daySelector">
      View:
      <button ng-click="ctrl.loadDay(1)">Sunday</button>
      <button ng-click="ctrl.loadDay(2)">Monday</button>
      <button ng-click="ctrl.loadDay(3)">Tuesday</button>
      <button ng-click="ctrl.loadDay(4)">Wednesday</button>
      <button ng-click="ctrl.loadDay(5)">Thursday</button>
      <button ng-click="ctrl.loadDay(6)">Friday</button>
      <button ng-click="ctrl.loadDay(7)">Saturday</button>
    </div>


    <div id="employeeSchedules">
      <div ng-repeat="lineItem in ctrl.daySchedules">

        {{ lineitem.employee.first_name }} {{ lineitem.employee.last_name }}

        <div ng-if="lineitem.schedule_entry">
          <input type="time" ng-model="lineitem.schedule_entry.start_time">
          <input type="time" ng-model="lineitem.schedule_entry.end_time">
        </div>

        <div ng-if="!lineitem.schedule_entry">
          OFF
          <button ng-click="ctrl.addShift(lineitem)">Add Shift</button>
        </div>

      </div>
    </div>


  </div>

  <div id="employeeView" ng-if="!ctrl.scheduleView">

    <form>
      <input type="text" ng-model="ctrl.newUser.first_name" required>
      <input type="text" ng-model="ctrl.newUser.last_name" required>
      <button ng-click="ctrl.createEmployee()">Add New Employee</button>
    </form>

    <div id="employeeList" ng-repeat="employee in ctrl.employees">
      {{ employee.first_name }}
      {{ employee.last_name }}
      <button ng-click="ctrl.deleteEmployee(employee)">Delete</button>
    </div>

  </div>

</body>

</html>