#container {
  margin-top: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: auto;
}


.timeCol {
  width: 100px;
}

#nameCol {
  width: 200px;
}

#optionCol {
  width: 200px;
}